; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

root = true

[*]
end_of_line = CRLF

[*.cs]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.props]
indent_size = 2
indent_style = space

[*.targets]
indent_size = 2
indent_style = space

[*.xaml]
indent_size = 2
indent_style = space

[*.plist]
indent_size = 2
indent_style = tab