<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="DryIoc.CommonServiceLocator.dll" version="2.2.1" targetFramework="net45" />
  <package id="DryIoc.dll" version="2.10.2" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
</packages>