<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.yourdomain.$saferootprojectname$" android:versionCode="1" android:versionName="1.0.0">
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="$saferootprojectname$" android:theme="@style/MyTheme"></application>
</manifest>
