<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HelloWorld.HelloWorld" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="22" />
	<application android:label="HelloWorld" android:theme="@style/MyTheme"></application>
</manifest>